/* styles.css */
.navbar {
    background-color:rgb(99, 179, 233);
    padding: 15;
    border-style:solid;
    color:#0b64b1
}

.nav-links {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 2rem;
}

.nav-links a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
body{
    background-color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
}
main{
    color:rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
section {
    background: linear-gradient(135deg, #186f85 0%, #73e1f5 100%);
    border: 1px solid #8db0d3;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
section:hover{
background-color:rgb(99, 179, 233); 
padding: 1rem;
transform: translateY(-5px); 
box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}