/* styles.css */
.navbar {
    background-color: #060a49;
    padding: 1rem;
    border-style:solid;
    color:#0b64b1
}

.nav-links {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 2rem;
}

.nav-links a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
body{
    background-color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
}
main{
    color:rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}